<div class="body">

<h1>{{ title}}</h1>

<ul class="list-group list-group-item"  *ngFor=" let routeur  of routeurs">
  <li class="list-group-item">IP adress</li> {{routeur.ip}}
  <li class="list-group-item">status</li> {{routeur.status}}
  <li class="list-group-item">debit</li> {{routeur.debit}}
  <li class="list-group-item">disponibility</li> {{routeur.disponibility}}
  <li class="list-group-item">amount</li> {{routeur.amount}}
  <li class="list-group-item">
  </li>
  <div>
     
  </div>

</ul>
<div>
  <h3>Revenus</h3>
<!-- <p-chart type="line" [data]="data"></p-chart> -->
</div>
</div>
